@charset "UTF-8";
#display{display:none;}
#divPage{width:480px; background:#ECE1DA; box-shadow:10px 10px 10px blak; margin:auto; padding:0px 0px 20px 0px;}
#divMenu{margin:auto; overflow:hidden; background:##F5C5DA; padding:15px 0px 15px 20px;border-bottom:1px solid #7F7D7E;}
#divMenu .item{width:100px; float:left; text-align:center;}
#divHeader,#divInfo,#productInfo{text-align:center;}
#divCondition{width:380px; margin:auto; overflow:hidden;padding:5px 10px 5px 10px; border:1px solid #E5CBBC;
margin-bottom:10px; background:#E5CBBC;}
#divSearch{float:left; }
#divSort{float:right; }
#tbl{width:400px; margin:auto; overflow:hidden;}
#pagination{width:400px; margin:auto; text-align:center; padding:10px 0px 10px 0px;}
.price, .quantity, .sum {text-align:right;}
a{text-decoration:none; color:#807F89;}
a:hover{font-weight:bold;}
select, input, button {height:23px;}
table {border-collapse:collapse;}
td{border:1px solid #807F89; height:30px; font-size:12px; padding:0px 5px 0px 5px;}
table .title{background:#E5CBBC; text-align:center;}
table .row:hover{background:#D7DBD1; color:white;}
input, button, select, textarea {font-size:12px;}
input[type='radio'], input[type='checkbox'] {height:12px;}
td button{text-align:center;}
textarea{margin:5px 0px 5px 0px;}
body{background:#E6E8E4;}